/* Watchlist CSS Styling Sheet */
#pane {
    position: absolute;
    top: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#list {
    position: absolute;
    top: 0;
    height: 96%;
    width: 98%;
    padding: 1%;

    color: white;
    opacity: 80%;
}

/* 
    The header bar at the top of the page that displays the page title, database query selectors,
    and button to add movies or shows to the watchlist.
 */
div.header {
    position: relative;
    top: 0;
    left: 0; 
    height: 3%;
    width: 98%;
    padding: 1%;
    
    background-color: rgba(0, 0, 0, 0.25);    
    border-radius: 30px;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.25);
    line-height: 200%;
}

/* 
    The main content div that houses all movies and shows within the watchlist.
 */
div.content {
    position: relative;
    left: 0;
    height: 80%;
    width: 98%;
    padding: 1%;
    margin: 0, auto;    

    border-bottom: #ffffff solid 1px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* 
    A overlayed, pop up div that deactivates the main page's functionality for reviewing the 
    watchlist and activies the ability to search for a new movie or show to add to the watchlist.
 */
 div.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 98%;
    padding: 1%;

    opacity: 80%;
    margin: 0, auto;
    z-index: 2;

    background-color: black;
}

/*** header children ***/
div.header-title{
    float: left;
    font-size: 36px;
}

div.header-query {
    height: 100%;
    width: 82%;
    margin-left: 1%;
    float: left;

    border: none;
    font-size: 24px;
    text-align: center;
}

div.header-add {
    position: relative;
    top: -25%;
    float: right;
    font-size: 36px;
}

/* query search parameters */
#query-title, #query-genre, #query-platform {
    width: 18%;
    height: 30px;
    font-size: 20px;
}

#query-genre {
    width: 10%;
}

#query-platform {
    width: 12%;
}

input[type=checkbox] {
    transform: scale(2.5);
}

input[type=submit] {
    margin-left: 2%;
    padding: .25%;
    font-size: 20px;
}

/*** Content children ***/
div.movie {
    position: relative;
    height: 40%;
    width: 12%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    
    box-shadow: 5px 5px 10px 0px #000000;
}

/* movie divs */
div.movie-poster {
    height: 100%;
    width: 100%;
    display: block;
}

div.movie-description {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;

    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(49, 49, 49, 1));
    overflow: hidden;
    transition: .5s ease;
}

.movie:hover .movie-description {
    bottom: -2%;
    height: 102%;
    opacity: 100%;
}

.div.movie-description > div  {   
    overflow: hidden;
    color: whitesmoke;
    transform: translate(-50%, -50%);
}

/* movie descriptions */
div.platform {
    position: relative;
    top: 0;
    padding-left: 5%;

    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

div.remove {
    position: absolute;
    top: -10%;
    height: 0; 
    width: 0; 
    
    border-top: 25px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 50px solid gray;
}

div.remove > fa-icon {
    position: relative;
    margin: -40px;
}

div.remove > fa-icon:hover {
    color: red;
}

div.title {
    position: relative;
    top: 25%;
    padding-left: 5%;
    padding-right: 5%;

    font-size: 18pt;    
    font-weight: bold;
    text-align: center;
    word-wrap: normal;
}

div.genre {
    position: absolute;
    bottom: 9%;
    width: 95%;
    padding-left: 5%;

    background-image: linear-gradient(to bottom, rgba(49, 49, 49, 0), rgb(49, 49, 49, .75));    
    font-size: 16pt;
    font-style: italic;
}

div.runtime {
    position: absolute;
    bottom: 2%;
    width: 100%;
    padding-left: 5%;

    background-image: linear-gradient(to bottom, rgba(49, 49, 49, .75), rgb(49, 49, 49, 1));
    font-size: 14pt;
}

/*** overlay children ***/
div.overlay-search {
    position: fixed;
    top: 15%;
    right: 25%;
    height: 25%;
    width: 50%;

    margin: auto;
    opacity: 100%;
    z-index: 2;
}

/* search divs */
div.search-stop {
    font-size: 36px;
}

input#search-title {
    height: 25%;
    width: 100%;
    padding: 1%;
    font-size: 30px;
}

div.search-results {
    height: 175%;
    width: 102%;
    overflow: scroll;
}

/* result divs */
div.result {
    position: relative;
    width: 101%;
    float: left;
    margin-left: .125%;
    padding: .5%;

    background-color: #ffffff;
    border-bottom: rgba(168, 168, 168, 0.15) solid 1px;
    color: black;
}

div.result:hover {
    background-color: rgba(168, 168, 168);
}

div.result:hover >  div.result-platform{
    display: inline;
    transition: 1s ease;
}

div.result-poster {
    height: 5%;
    width: 5%;
    float: left;
    padding-left: 2%;
    padding-right: 2%;

    display: block;
}

div.result-title {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 26px;
}

div.result-platform {
    position: absolute;
    top: 0%;
    bottom: 100%;
    left: 9%;
    height: 100%;
    width: 82%;

    background-color: rgba(168, 168, 168);
    display: none;
}

div.platforms {
    height: 100%;
    width: 11%;
    float: left;
    
    color: #ffffff;
    font-size: 20px;
    opacity: 50%;
    text-align: center;
    vertical-align: center;

    transition: .5s ease;
}

div.platforms:hover {
    opacity: 100%;
    width: 18%;
    transition: .5 ease-in;
}

div.platform-stream {
    position: relative;
    left: 0;
    height: 100%;
    width: 99%;
    overflow: hidden;
}

.stream {
    position: absolute;
    right: -4%;
}

img.disney {
    position: relative;
    top: 10%;    
    right: 0;
}

img.hbo {
    position: relative;
    top: 30%;    
    right: 1%;
}

img.hulu {
    position: relative;
    top: 35%;    
    right: 2%;
}

img.netflix {
    position: relative;
    top: 0;    
    right: 0;
}

img.plex {
    position: relative;
    top: 35%;    
    right: 0;
}

img.prime {
    position: relative;
    top: -10%;    
    right: 0;
}

img.youtube {
    position: relative;
    top: -10%;    
    right: 0;
}

/* platform background colors */
div.disney {
    background-image: linear-gradient(to bottom,rgb(6, 10, 46), rgb(35, 70, 152));    
}

div.hbo {
    background-image: linear-gradient(to right, rgb(137, 43, 225), rgb(62, 112, 210));    
}

div.hulu {
    background-color: #1be07f;
}

div.netflix {
    background-image: linear-gradient(90deg, rgba(152,0,0,1) 0%, rgba(222,9,19,1) 50%, rgba(152,0,0,1) 100%);
}

div.plex {
    background-color: #d89210;
}

div.plex2 {
    background-color: #707070;
}

div.prime {
    background-color: #00A8E1;
}

div.prime2, div.youtube {
    color: black;
    background-color: #ffffff;
}

div.netflix2, div.hulu2, div.rentBuy {
    background-color: #000000;
}

 /*
    Global tag stlyings 
  */
input:focus, select:focus {
    outline: none;
}

label, fa-icon {
    height: 50%;
    padding: 0 1% 0 1%;
}

fa-icon {
    line-height: 48px;
}

fa-icon:hover {
    color: grey;
}
