<div class="panel">
  <div class="recent">
    <div class="header">
      <div class="name">Watchlist</div>
      <div class="watchlistSearch">
        <form (ngSubmit)='searchWatchlist(searchForm)' #searchForm='ngForm'>
          <div id="formField">
            <label for="listTitle">Search</label>
            <input id="listTitle" name="title" type="text" autocomplete="off" [(ngModel)]='title' #lo='ngModel'>
            <label for="genre">Genre</label>
            <select id="genre" name="genre" [(ngModel)]='genre' #lo='ngModel'>
              <option value="" selected>All</option>
              <option value="Action">Action</option>
              <option value="Adventure">Adventure</option>
              <option value="Animation">Animation</option>
              <option value="Drama">Drama</option>
              <option value="Comedy">Comedy</option>
              <option value="Family">Family</option>
              <option value="Fantasy">Fantasy</option>
              <option value="Horror">Horror</option>
              <option value="Musical">Musical</option>
              <option value="Romance">Romance</option>
              <option value="Sci-Fi">Sci-Fi</option>
              <option value="Thriller">Thriller</option>
            </select>
            <label for="platform">Stream</label>
            <select id="platform" name="platform" [(ngModel)]='platform' #lo='ngModel'>
              <option value="" selected>All</option>
              <option value="Disney">Disney+</option>
              <option value="HBO Max">HBO Max</option>
              <option value="Hulu">Hulu</option>
              <option value="Netflix">Netflix</option>
              <option value="Plex">Plex</option>
              <option value="Prime Video">Prime Video</option>
              <option value="In Theaters">Theaters</option>
            </select>
            <label for="movie"> Movies</label>
            <input id="movie" type="checkbox" name="movie" [(ngModel)]='movie' #lo='ngModel'>
            <label for="series"> Shows</label>
            <input id="series" type="checkbox" name="series" [(ngModel)]='series' #lo='ngModel'>
            <input id="submit" type="submit" value="search">
          </div>
        </form>
      </div>
      <div class="add" (click)="toggleOverlay()">
        <fa-icon [icon]="add"></fa-icon>
      </div>
    </div>
    <div class="content">
      <div class="movie" *ngFor="let element of resp.elements; index as i" title="{{element.Plot}}">
        <div class="poster">
          <img src="{{element.Poster}}" width="100%" height="100%" title="{{element.Title}}" />
        </div>
        <div class="description">
          <div class="stream {{getPlatform(i)}}">{{element.platform}}</div>
          <div class="title">{{element.Title}}</div>
          <div class="title">({{element.Year}})</div>
          <div class="gradient"></div>
          <div class="genre">{{element.Genre}}</div>
          <div class="runtime">{{element.Runtime}}</div>
        </div>
      </div>
    </div>
    <div *ngIf="adding">
      <div class="overlay"></div>
      <form (ngSubmit)='searchOMBD(searchForm)' #searchForm='ngForm'>
        <div class="titleSearch">
          <div class="stop" (click)="toggleOverlay()">
            <fa-icon [icon]="stop"></fa-icon>
          </div>
          <input id="ombdTitle" name="ombdTitle" type="text" placeholder="seach for title" autocomplete="off"
            [(ngModel)]='ombdTitles' #lo='ngModel'>
          <div class="result">
            <div class="results" *ngFor="let ombdElement of respOMBD.Search; index as i">
              <div class="results">
                <div class="poster2">
                  <img src="{{ombdElement.Poster}}" width="100%" height="100%" title="{{ombdElement.Year}}" />
                </div>
                <div class="title2" title="{{ombdElement.Plot}}" (click)="toggleStreamer()">
                  {{ombdElement.Title}}
                </div>
                <div class="setStream" *ngIf="settingStreamer">
                  <div class="streamers disney" (click)="setStreamer('Disney', ombdElement.Title)">Disney+</div>
                  <div class="streamers hbo" (click)="setStreamer('HBO Max', ombdElement.Title)">HBO Max</div>
                  <div class="streamers hulu" (click)="setStreamer('Hulu', ombdElement.Title)">Hulu</div>
                  <div class="streamers netflix" (click)="setStreamer('Netflix', ombdElement.Title)">Netflix</div>
                  <div class="streamers plex" (click)="setStreamer('Plex', ombdElement.Title)">Plex</div>
                  <div class="streamers prime" (click)="setStreamer('Prime Video', ombdElement.Title)">Prime Video</div>
                  <div class="streamers theaters" (click)="setStreamer('In Theaters', ombdElement.Title)">In Theaters</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>