<div class="panel">
  <div class="list">
    <div class="header">
      <div class="header-title">Watchlist</div>
      <div class="header-query">
        <form (ngSubmit)='queryWatchlist(searchForm)' #searchForm='ngForm'>
          <!-- search bar -->
          <label for="query-title">Search</label>
          <input id="query-title" name="title" type="text" autocomplete="off" [(ngModel)]='title' #lo='ngModel'>
          <!-- genre dropdown -->
          <label for="query-genre">Genre</label>
          <select id="query-genre" name="genre" [(ngModel)]='genre' #lo='ngModel'>
            <option value="" selected>All</option>
            <option value="Action">Action</option>
            <option value="Adventure">Adventure</option>
            <option value="Animation">Animation</option>
            <option value="Drama">Drama</option>
            <option value="Comedy">Comedy</option>
            <option value="Family">Family</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Horror">Horror</option>
            <option value="Musical">Musical</option>
            <option value="Romance">Romance</option>
            <option value="Sci-Fi">Sci-Fi</option>
            <option value="Thriller">Thriller</option>
          </select>
          <!-- platform dropdown -->
          <label for="query-platform">Stream</label>
          <select id="query-platform" name="platform" [(ngModel)]='platform' #lo='ngModel'>
            <option value="" selected>All</option>
            <option value="Disney">Disney+</option>
            <option value="HBO Max">HBO Max</option>
            <option value="Hulu">Hulu</option>
            <option value="Netflix">Netflix</option>
            <option value="Plex">Plex</option>
            <option value="Prime Video">Prime Video</option>
            <option value="In Theaters">Theaters</option>
          </select>
          <!-- type checkboxes -->
          <label for="query-movie"> Movies</label>
          <input id="query-movie" name="movie" type="checkbox" [(ngModel)]='movie' #lo='ngModel'>
          <label for="query-series"> Shows</label>
          <input id="query-series" name="series" type="checkbox" [(ngModel)]='series' #lo='ngModel'>
          <!-- submit button -->
          <input id="query-submit" name="submit" type="submit" value="search">
        </form>
      </div>
      <div class="header-add">
        <fa-icon [icon]="add" (click)="toggleOverlay()"></fa-icon>
      </div>
    </div>
    <div class="content">
      <div class="movie" *ngFor="let element of resp.elements; index as i" title="{{element.Plot}}">
        <div class="movie-poster">
          <img src="{{element.Poster}}" width="100%" height="100%" title="{{element.Title}}" />
        </div>
        <div class="movie-description">
          <div class="platform {{getPlatform(i)}}">{{element.platform}}</div>
          <div class="remove">
            <fa-icon [icon]="remove" (click)="  deleteTitle(i)"></fa-icon>
          </div>
          <div class="title">{{element.Title}}</div>
          <div class="title">({{element.Year}})</div>
          <div class="genre">{{element.Genre}}</div>
          <div class="runtime">{{element.Runtime}}</div>
        </div>
      </div>
    </div>
    <div *ngIf="adding">
      <div class="overlay"></div>
      <form (ngSubmit)='searchOMBD(searchForm)' #searchForm='ngForm'>
        <div class="overlay-search">
          <!-- cancel search -->
          <div class="search-stop">
            <fa-icon [icon]="stop" (click)="toggleOverlay()"></fa-icon>
          </div>
          <!-- search bar -->
          <input id="search-title" name="ombdTitle" type="text" placeholder="seach for title" autocomplete="off"
            [(ngModel)]='ombdTitles' #lo='ngModel'>
          <!-- search results dropdown -->
          <div class="search-results">
            <div class="result" *ngFor="let ombdElement of respOMBD.Search; index as i">
              <div class="result-poster">
                <img src="{{ombdElement.Poster}}" width="100%" height="100%" title="{{ombdElement.Year}}" />
              </div>
              <div class="result-title" title="{{ombdElement.Plot}}" (click)="toggleStreamer(i)">
                {{ombdElement.Title}}
              </div>
              <div class="result-platform" *ngIf="settingStreamer">
                <div class="platforms disney" (click)="setStreamer('Disney')">Disney+</div>
                <div class="platforms hbo" (click)="setStreamer('HBO Max')">HBO Max</div>
                <div class="platforms hulu" (click)="setStreamer('Hulu')">Hulu</div>
                <div class="platforms netflix" (click)="setStreamer('Netflix')">Netflix</div>
                <div class="platforms plex" (click)="setStreamer('Plex')">Plex</div>
                <div class="platforms prime" (click)="setStreamer('Prime Video')">Prime Video</div>
                <div class="platforms theaters" (click)="setStreamer('In Theaters')">In Theaters</div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>