/* Clock Component Styling Sheet */
#pane {
    position: absolute;
    top: 0;
    left: 0;
    height: 25%;
    width: 30%; 
}

#clock {
    position: relative;
    height: 96%;
    width: 60%;
    margin: 0;
    padding: 1%;

    color: white;
    cursor: default;
    opacity: 80%;
}

div#date {
    position: relative;
    height: 15%;
    width: 100%;
    padding: 1% 0;
}

div#date > p {
    position: relative;
    height: 100%;
    width: 100%;
    bottom: 25%;

    font-size: 24px;
    font-weight: 100;
    line-height: 25%;
    text-align: center;
}

div#time {
    position: relative;
    height: 35%;
    width: 100%;
    padding: 1% 0;
}

div#time > p {
    position: relative;
    height: 100%;
    width: 100%;
    top: -108%;
    
    font-size: 112px;
    font-weight: 100;
    line-height: 40%;
    text-align: center;
}