div#glance {
    position: relative;
    top: -10%;
    height: 70%;
    width: 100%;
}

div.dayPane {
    position: relative;
    top: -12%;
    height: 12%;
    width: 100%;
    margin: .25%;
    float: left;
}

div.dayPane > div {
    position: relative;
    color: #ffffff;
}

div.day {
    height: 100%;
    width: 35%;
    padding-left: 2%;
    float: left;

    font-size: 20px;
    font-weight: 500;
    text-align: left;
    line-height: 200%;
}

div.outlook {
    height: 100%;
    width: 35%;
    float: left;
}

div.outlook > fa-icon {
    width: 100%;
    display: inline-block;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
}

div.highs {
    height: 100%;
    width: 14%;
    float: left;

    font-size: 24px;
    text-align: center;
}

div.lows {
    height: 100%;
    width: 14%;
    float: left;
    opacity: .5;

    font-size: 24px;
    text-align: center;
}