<!-- FIXME: retreive accurate forecast data -->
<div id="glance" *ngIf="resultFound()">
    <div id="border"></div>
    <div class="dayPane">
        <div class="day">{{forecast.list[4].dt_txt | date:'EEE'}}</div>
        <div class="outlook">
            <fa-icon [icon]="faSun"></fa-icon>
        </div>
        <div class="highs">{{forecast.list[0].main?.temp | number:'1.0-0'}}</div>
        <div class="lows">{{forecast.list[2].main?.temp | number:'1.0-0'}}</div>
    </div>
    <div class="dayPane">
        <div class="day">{{forecast.list[12].dt_txt | date:'EEE'}}</div>
        <div class="outlook">
            <fa-icon [icon]="faSun"></fa-icon>
        </div>
        <div class="highs">{{forecast.list[10].main?.temp | number:'1.0-0'}}</div>
        <div class="lows">{{forecast.list[12].main?.temp | number:'1.0-0'}}</div>
    </div>
    <div class="dayPane">
        <div class="day">{{forecast.list[20].dt_txt | date:'EEE'}}</div>
        <div class="outlook">
            <fa-icon [icon]="faSun"></fa-icon>
        </div>
        <div class="highs">{{forecast.list[18].main?.temp | number:'1.0-0'}}</div>
        <div class="lows">{{forecast.list[20].main?.temp | number:'1.0-0'}}</div>
    </div>
    <div class="dayPane">
        <div class="day">{{forecast.list[28].dt_txt | date:'EEE'}}</div>
        <div class="outlook">
            <fa-icon [icon]="faSun"></fa-icon>
        </div>
        <div class="highs">{{forecast.list[26].main?.temp | number:'1.0-0'}}</div>
        <div class="lows">{{forecast.list[28].main?.temp | number:'1.0-0'}}</div>
    </div>
</div>