/* Calendar Panel styling */
.panel {
    top: 27.5%;
    right: 0;

    height: 32%;
}

.calendar {
    position: absolute;

    top: 0;
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
        
    color: white;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    
    opacity: 80%;
    overflow: scroll;
}

div.banner {
    position: relative;
        
    height: 30%;
    width: 95%;
    left: 0;

    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    padding: 1%;

    cursor: pointer;

    transition: 0.5s;
    transition: color 0.5s;
}

div.banner:hover {
    color: black;

    transition: color 0.5s;
}

div.banner:hover div.status{
    background-color: #e6e6e6;
}

div.time {
    position: relative;

    top: 6%;
    left: 5%;
    height: 100%;
    width: 25%;

    padding: 0%;
    float: left;

    text-align: left;
}

div.timestamp {
    font-size: 16px;
    font-weight: bold;
}

div.duration {
    padding-top: 4%;
    
    color: grey;

    font-size: 16px;
}

div.status {
    position: absolute;

    top: 0;
    right: 95%;
    height: 100%;
    width: 1.5%;
        
    float: left;

    background-color: #DB4437;
    color: #e6e6e6;

    overflow: hidden;

    transition: background-color 0.5s;
    transition: width 1s;
    -webkit-transition: width 1s;

    z-index: 1;
}

div.status:hover {
    width: 14%;
}

div.user {
    position: relative;

    height: 35px;
    width: 35px;

    top: 32%;
    left: 28px;

    background-color: #DB4437;
    color: #e6e6e6;

    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;

    font-size: 20px;
    text-align: center;
    line-height: 200%;
}

div.content {
    position: relative;

    top: 0;
    left: 3%;
    height: 100%;
    width: 70%;

    padding: 0%;
    float: left;
}

div.summary {
    padding: 1%;

    font-size: 18px;
}

div.location {
    position: relative;
    padding-top: 2%;
    
    color: grey;

    font-style: italic;
    font-size: 14px;
}