<div class="panel">
    <div class="calendar">
        <!-- <div class="bannerUnavaliable" *ngIf='!newsFound()'>
            <div class="provider"></div>
            <div class="timestamp"></div>
            <div class="message">
                <div class="unavaliable">No US news at this time</div>
            </div>
        </div> -->
        <div class="banner" *ngFor="let event of calendar.events; index as i" title="sent from {{event.organizer}}">
            <div class="status">
                <div class="user">J</div>
            </div>
            <div class="time">
                <div class="timestamp">{{event.start | date:'EEE, MMM dd'}}</div>
                <div class="duration">{{event.start | date:'h:mm a'}} </div>
            </div>
            <div class="content">
                <div class="summary">{{event.content}}</div>
                <div class="location" *ngIf="hasLocation(i)">
                    <fa-icon [icon]="location"></fa-icon> {{event.location}}
                </div>
            </div>
        </div>
    </div>
</div>