/* Calendar Panel Styling Sheet */
#pane {
    position: absolute;
    top: 15%;
    left: 0;
    height: 36%;
    width: 30%; 
}

#calendar {
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
        
    color: white;    
    opacity: 80%;
    overflow: scroll;
}

div.banner {
    position: relative;
    left: 0;
    height: 30%;
    width: 95%;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 1%;

    cursor: default;
    transition: 0.5s;
    transition: color 0.5s;
}

div.banner:hover {
    color: black;
    transition: color 0.5s;
}

div.banner:hover div.status{
    background-color: #e6e6e6;
}

div.time {
    position: relative;
    top: 6%;
    left: 5%;
    height: 100%;
    width: 25%;
    padding: 0%;
    float: left;

    text-align: left;
}

div.timestamp {
    font-size: 16px;
    font-weight: bold;
}

div.duration {
    color: grey;
    font-size: 16px;
    padding-top: 4%;
}

div.status {
    position: absolute;
    top: 0;
    right: 95%;
    height: 100%;
    width: 1.5%;
    float: left;

    background-color: #DB4437;
    color: #e6e6e6;
    overflow: hidden;

    transition: background-color 0.5s;
    transition: width 1s;
}

div.status:hover {
    width: 14%;
}

div.user {
    position: relative;
    top: 32%;
    left: 38px;
    height: 35px;
    width: 35px;

    color: #e6e6e6;
    background-color: #DB4437;
    border-radius: 30px 30px 30px 30px;
    font-size: 20px;
    line-height: 200%;
    text-align: center;
}

div.content {
    position: relative;
    top: 0;
    left: 3%;
    height: 100%;
    width: 70%;
    padding: 0%;
    float: left;
}

div.summary {
    padding: 1%;
    font-size: 18px;
}

div.location {
    position: relative;
    padding-top: 2%;
    
    color: grey;
    font-size: 14px;
    font-style: italic;
}