/* Search Panel styling */
.search {
    position: absolute;

    top: 0;
    height: 10%;
    width: 100%;

    margin: 0;
    padding: 0;

    opacity: 80%;
}

form {
    position: absolute;

    height: 100%;
    width: 100%;
    
    display: inline-block;

    text-align: center;
}

input {
    position: absolute;

    top: -100%;
    left: 15%;
    width: 60%;

    padding: 5px;

    color: #ffffff;
    font-size: 40px;
    text-align: center;

    background:none;
    border: none;

    opacity: 100%;
}

input:focus {
    outline: none;
}