.panel {
    top: 0%;
    left: 0;
    height: 50%;
    width: 94%;
}

.recent {
    position: absolute;

    top: 0;
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 1%;
    display: block;
        
    color: white;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    opacity: 80%;
    
    cursor: default;
}

div.header {
    position: relative;
    
    top: 0;
    left: 0; 
    height: 8%;
    width: 100%;

    padding: 1%;

    background-color: #000000;
}

div.header > div{
    font-size: 36px;
}

.vertical-center {
    top: 50%;

    margin: 0;

    transform: translateY(-50%);
}

.horizational-center {
    margin: 0, auto;
}

div.content {
    position: relative;

    top: 35%;
    left: 0;
    height: 58%;
    width: 100%;

    padding: 1%;
}

div.movie {
    position: relative;

    height: 100%;
    width: 12%;
    
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}

div.poster {
    height: auto;
    width: 100%;

    display: block;
}

.description {
    position: absolute;

    bottom: 100%;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;

    overflow: hidden;

    background-color: grey;

    transition: .5s ease;
}

.movie:hover .description {
    bottom: -2%;

    height: 102%;

    opacity: 85%;
}

.div.description > div  {   
    overflow: hidden;
 
    color: whitesmoke;

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

div.stream {
    position: relative;

    top: 0;

    padding-left: 5%;

    background-color: red;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

div.title {
    position: relative;

    top: 25%;

    padding-left: 5%;
    padding-right: 5%;

    text-align: center;
    font-size: 18pt;    
    font-weight: bold;
    word-wrap: normal;
}

div.genre {
    position: absolute;

    bottom: 7%;

    padding-left: 5%;

    font-size: 16pt;
    font-style: italic;
    
}

div.runtime {
    position: absolute;

    bottom: 0%;

    padding-left: 5%;

    font-size: 14pt;

}