.panel {
    top: 0%;
    left: 0;
    height: 50%;
    width: 94%;
}

.recent {
    position: absolute;

    top: 0;
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 1%;
    display: block;
        
    color: white;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    opacity: 80%;
    
    cursor: default;
}

div.header {
    position: relative;
    
    top: 0;
    left: 0; 
    height: 8%;
    width: 100%;

    padding: 1%;

    background-color: #000000;
}

div.name{
    float: left;

    font-size: 36px;
}

div.search{
    height: 100%;
    width: 82%;

    margin-left: 1%;
    float: left;

    text-align: center;
    font-size: 24px;
}

label {
    height: 50%;
    
    line-height: 48px;
    padding: 0 1% 0 1%;
}

#title {
    height: 30px;
    width: 18%;

    font-size: 20px;
}

#genre {
    height: 30px;
    width: 10%;

    font-size: 20px;
}

#platform {
    height: 30px;
    width: 12%;

    font-size: 20px;
}

.vertical-center {
    top: 50%;

    margin: 0;

    transform: translateY(-50%);
}

.horizational-center {
    margin: 0, auto;
}

div.content {
    position: relative;

    top: 35%;
    left: 0;
    height: 58%;
    width: 100%;

    padding: 1%;
}

div.movie {
    position: relative;

    height: 100%;
    width: 12%;
    
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    float: left;
}

div.poster {
    height: 100%;
    width: 100%;

    display: block;
}

.description {
    position: absolute;

    bottom: 100%;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;

    overflow: hidden;

    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(49, 49, 49, 1));

    transition: .5s ease;
}

.movie:hover .description {
    bottom: -2%;

    height: 102%;

    opacity: 100%;
}

.div.description > div  {   
    overflow: hidden;
 
    color: whitesmoke;

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

div.stream {
    position: relative;

    top: 0;

    padding-left: 5%;

    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

div.disney {
    background-image: linear-gradient(to bottom,rgb(6, 10, 46), rgb(35, 70, 152));    
}

div.hbo {
    background-image: linear-gradient(to right, rgb(137, 43, 225), rgb(62, 112, 210));    
}

div.hulu {
    background-color: #1be07f;
}

div.netflix {
    background-image: linear-gradient(90deg, rgba(152,0,0,1) 0%, rgba(222,9,19,1) 50%, rgba(152,0,0,1) 100%);
}

div.plex {
    background-color: #d89210;
}

div.theaters {
    background-color: black;
}

div.title {
    position: relative;

    top: 25%;

    padding-left: 5%;
    padding-right: 5%;

    text-align: center;
    font-size: 18pt;    
    font-weight: bold;
    word-wrap: normal;
}

div.genre {
    position: absolute;

    bottom: 9%;
    width: 95%;

    padding-left: 5%;

    font-size: 16pt;
    font-style: italic;

    background-image: linear-gradient(to bottom, rgba(49, 49, 49, 0), rgb(49, 49, 49, .75));    
}

div.runtime {
    position: absolute;

    bottom: 2%;
    width: 100%;

    padding-left: 5%;

    font-size: 14pt;
    background-image: linear-gradient(to bottom, rgba(49, 49, 49, .75), rgb(49, 49, 49, 1));
}