<div class="panel">
  <div class="recent">
    <div class="header">
      <div>Recently Watched</div>
    </div>
    <div class="content vertical-center horizational-center">
      <div class="movie" *ngFor="let element of resp.elements; index as i" title="{{element.Plot}}">
        <div class="poster">
          <img src="{{element.Poster}}" width="100%" height="100%" title="{{element.Title}}"/>
        </div>
        <div class="description">
          <!-- <div class="stream">{{element.platform}}</div> -->
          <div class="stream {{getPlatform(i)}}">{{element.platform}}</div>
          <div class="title">{{element.Title}}</div>
          <div class="title">({{element.Year}})</div>
          <div class="gradient"></div>
          <div class="genre">{{element.Genre}}</div>
          <div class="runtime">{{element.Runtime}}</div>
        </div>
      </div>
    </div>
  </div>
</div>