#pane {
    position: relative;
    top: 0;
    height: 95%;
    width: 90%;
    float: left;
    /* background-color: darkgoldenrod; */
}

#totals {
    position: relative;
    top: 0;
    height: 40%;
    width: 100%;
    margin: auto;
}

.total-category {
    position: relative;

    top: 0;
    height: 98%;
    width: 30%;

    float: left;
    margin-top: .18%;
    margin-left: 1.6%;
    margin-right: 1.6%;

    background: rgba(0,0,0,0.10);
    border-radius: 20px;
    font-size: 32px;
    text-align: center;
    line-height: 200%;
    transition: 1s ease;
    overflow: hidden;   
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.5); 
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.25); 
}

div#income {
    color: #0F9D58;
}

div#expense {
    color: #DB4437;
}

div#saving {
    color: #4285F4;
}