<!-- <app-stats></app-stats>> -->
<div class="recent">
    <div class="title-container">
      <p>Recently Watched</p>
    </div>
    <div class="row-container vertical-center horizational-center">
      <div class="movie-container">
        <div class="poster">
          <img src="assets/movie-poster-template.png" title="the title"/>
        </div>
        <div class="description">
          <p class="title">Movie Title</p>
          <p class="genre">Genres</p>
          <p class="runtime">Runtime</p>
        </div>
      </div>
      <div class="movie-container">
        <div class="poster">
          <img src="assets/movie-poster-template.png" title="the title"/>
        </div>
        <div class="description">
          <p class="title">Movie Title</p>
          <p class="genre">Genres</p>
          <p class="runtime">Runtime</p>
        </div>
      </div>
      <div class="movie-container">
        <div class="poster">
          <img src="assets/movie-poster-template.png" title="the title"/>
        </div>
        <div class="description">
          <p class="title">Movie Title</p>
          <p class="genre">Genres</p>
          <p class="runtime">Runtime</p>
        </div>
      </div>
    </div>
  </div>