/* Weather Panel styling */
.panel {
    top: 250px;
    right: 0;

    height: 30%;
}

.weather {
    position: absolute;

    top: 0;
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
        
    color: white;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    
    opacity: 80%;
}

/* Current weather styling */
div#currently {
    position: absolute;

    top: 12%;
    height: 50%;
    width: 100%;
}

div#currently > div {
    position: absolute;
}

div#temperature {
    top: 0;
    height: 100%;
    width: 50%;

    font-size: 108px;
    text-align: center;
}

div#forecast {
    top: 0;
    right: 0;
    height: 25%;
    width: 50%;

    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

div#description {
    top: 25%;
    right: 0;
    height: 50%;
    width: 50%;

    font-size: 20px;
    font-weight: 100;
    font-style: italic;
}

/* Extra current weather styling */
div#extras {
    bottom: 0;
    right: 0;
    
    height: 25%;
    width: 100%;

    font-size: 18px;
    font-weight: 500px;
    z-index: 1;
}

div#high {
    position: absolute;

    right: 240px;

    color: #DB4437;
}

div#low {
    position: absolute;

    right: 160px;

    color: #4285F4;
}

div#humidity {
    position: absolute;

    right: 80px;

    color: #ffffff;
}

div#rain {
    position: absolute;

    right: 0;

    color: gray;
}

div#rain:after {
    content: '\0025';
}

/* 4 day glance weather styling */
div#glance {
    position: absolute;

    bottom: 0;
    height: 40%;
    width: 100%;
}

div#border {
    position: absolute;

    height: 1%;
    width: 100%;

    background-color: white;
}

div.dayPane {
    position: relative;

    height: 90%;
    width: 23%;

    margin-left: 8px;;
    margin-top: 5px;;
    float: left;
}

div.dayPane > div {
    position: absolute;
}

div.day {
    position: absolute;

    height: 20%;
    width: 100%;

    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

div.outlook {
    top: 35%;
    left: 0;
    height: 100%;
    width: 70%;
}

div.outlook > fa-icon {
    width: 100%;
    
    display: inline-block;
    font-size: 48px;
    text-align: center;
}

div.highs {
    top: 25%;
    right: 0;

    width: 30%;

    color: #DB4437;
    font-size: 24px;
    text-align: center;
}

div.lows {
    bottom: 0;
    right: 0;

    width: 30%;

    color: #4285F4;
    font-size: 24px;
    text-align: center;
}

#container{
    margin: 10px;
}

#search{
    text-align: center;
    font-size: 40px;
}