<div id='container'>
    <div *ngIf='!loc' id='search'>
        <h1>Enter location to find weather info.</h1>
    </div>
    <div *ngIf='loc'>
        <div label="Current Weather">
            <app-current></app-current>
        </div>
        <!-- <div label="Forecast">
            <app-forecast></app-forecast>
        </div> -->
    </div>
</div>
<div class="panel">
    <div class="weather">
        <app-search></app-search>
        <div id="currently">
            <div id="extras">
                <div title="high" id="high"><fa-icon [icon]="faTemperatureLow"></fa-icon>     {{high}}</div>
                <div title="low" id="low"><fa-icon [icon]="faTemperatureLow"></fa-icon>   {{low}}</div>
                <div title="humidity" id="humidity"><fa-icon [icon]="faWater"></fa-icon>   {{humidity}}</div>
                <div title="chance of rain" id="rain"><fa-icon [icon]="faCloudRain"></fa-icon>   {{rain}}</div>
            </div>
            <div title="today's temperature" id="temperature">{{temperature}}&#730;</div>
            <div title="today's forecast" id="forecast">{{forecast}}</div>
            <div title="today's description" id="description">{{description}}</div>
        </div>
        <div id="glance">
            <div id="border"></div>
            <div class="dayPane">
                <div class="day">TUE</div>
                <div class="outlook">
                    <fa-icon [icon]="faSun"></fa-icon>
                </div>
                <div class="highs">{{high}}</div>
                <div class="lows">{{low}}</div>
            </div>
            <div class="dayPane">
                <div class="day">Wed</div>
                <div class="outlook">
                    <fa-icon [icon]="faCloudRain"></fa-icon>
                </div>
                <div class="highs">{{high}}</div>
                <div class="lows">{{low}}</div>
            </div>
            <div class="dayPane">
                <div class="day">THU</div>
                <div class="outlook">
                    <fa-icon [icon]="faSnowflake"></fa-icon>
                </div>
                <div class="highs">{{high}}</div>
                <div class="lows">{{low}}</div>
            </div>
            <div class="dayPane">
                <div class="day">FRI</div>
                <div class="outlook">
                    <fa-icon [icon]="faCloud"></fa-icon>
                </div>
                <div class="highs">{{high}}</div>
                <div class="lows">{{low}}</div>
            </div>
        </div>
    </div>
</div>
