<div class="panel">
    <div class="weather">
        <div id="currently">
            <div id="extras">
                <div title="high" id="high"><fa-icon [icon]="faTemperatureLow"></fa-icon>     {{high}}</div>
                <div title="low" id="low"><fa-icon [icon]="faTemperatureLow"></fa-icon>   {{low}}</div>
                <div title="humidity" id="humidity"><fa-icon [icon]="test"></fa-icon>   {{humidity}}</div>
                <div title="chance of rain" id="rain"><fa-icon [icon]="faCloudRain"></fa-icon>   {{rain}}</div>
            </div>
            <div title="today's temperature" id="temperature">{{temperature}}&#730;</div>
            <div title="today's forecast" id="forecast">{{forecast}}</div>
            <div title="today's description" id="description">{{description}}</div>
        </div>
       <div id="glance">
           <div id="border"></div>
           <div class="day">
            test
           </div>
           <div class="day">
            test
           </div>
           <div class="day">
            test
           </div>
           <div class="day">
            test
           </div>
       </div>
    </div>
</div>
