/* Weather Panel styling */
.panel {
    top: 27.5%; /* top: 250px; */
    left: 0;

    height: 30%;
}

.weather {
    position: absolute;

    top: 0;
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
        
    color: white;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    
    cursor: default;

    opacity: 80%;
}