/* Weather Panel Styling Sheet */
#pane {
    position: absolute;
    top: 0;
    right: 1%;
    height: 50%;
    width: 30%;
}

#weather {
    position: relative;
    height: 96%;
    width: 98%;
    margin: 0;
    padding: 1%;

    color: white;
    cursor: default;
    opacity: 80%;
}