body {
    height: 1000px;
    background: linear-gradient(180deg, rgba(48,56,108,1) 0%, rgba(14,17,31,1) 41%, rgba(40,54,138,1) 100%);
}

p, a {
    color: whitesmoke;
}

p {
    padding: 10px;
    font-size: 36px;
}

ul {
    list-style-type: none;
}

li {
    display: block;
    line-height: 30px;
}