/* Budget CSS Styling Sheet */
#pane {
    position: absolute;
    top: 0%;
    left: 0;
    height: 100%;
    width: 99%;
}

#budget {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 98%;
    padding: 1%;

    color: white;
    cursor: default;
    display: block;        
    opacity: 80%;
}