<div id="unavailable" *ngIf='!resultFound()'>
  city data unavailable: <br> {{msg}}
</div>

<div id="currently" *ngIf='resultFound()'>
  <div id="extras">
      <div title="high" id="high"><fa-icon [icon]="faTemperatureHigh"></fa-icon>   {{currentWeather.main?.temp_max | number:'1.0-0'}}</div>
      <div title="low" id="low"><fa-icon [icon]="faTemperatureLow"></fa-icon>   {{currentWeather.main?.temp_min | number:'1.0-0'}}</div>
      <div title="humidity" id="humidity"><fa-icon [icon]="faWater"></fa-icon>   {{currentWeather.main?.humidity}}</div>
      <div title="chance of rain" id="rain"><fa-icon [icon]="faCloudRain"></fa-icon>   10</div>
  </div>
  <div title="today's temperature" id="temperature">{{currentWeather.main?.temp | number:'1.0-0'}}&#730;</div>
  <div title="today's forecast" id="forecast">{{currentWeather.weather[0]?.main}}</div>
  <div title="today's description" id="description">{{currentWeather.weather[0]?.description}}</div>
</div>