<div id="current">
  <!-- if -->
  <div id="unavailable" *ngIf='!resultFound()'>
    city data unavailable: <br> {{msg}}
  </div>
  <!-- else -->
  <div id="available" *ngIf='resultFound()'>
    <div id="temperature">
      <p id="degree">{{currentWeather.main?.temp | number:'1.0-0'}}&#730;</p>
      <p id="icon"><fa-icon [icon]="icon"></fa-icon></p>
    </div>
    <div id="forecast" title="forecast">{{currentWeather.weather[0]?.main}}</div>
    <div id="descriptions">
      <div title="chance of rain">
        Percepitation {{rain}}%
      </div>
      <div title="humidity">
        Humidity {{currentWeather.main?.humidity}}%
      </div>
      <div title="wind velocity">
        Wind {{currentWeather.wind?.speed | number:'1.0-0'}} mph
      </div>
    </div>
  </div>
</div>