/* Current weather styling */
#current {
    position: relative;
    top: 0;
    height: 40%;
    width: 100%;
}

div#unavailable {
    position: absolute;
    top: 25%;
    height: 25%;
    width: 100%;

    font-size: 18px;
    text-align: center;
}

div#available {
    position: relative;
    height: 100%;
    width: 100%;
}

div#temperature {
    position: relative;
    float: right;
    right: 0;
    height: 45%;
    width: 50%;

    font-size: 84px;
    text-align: right;
    line-height: 100%;
}

p#degree {
    position: relative;
    top: -94%;
    float: right;
    right: 0;
    height: 100%;
    width: 50%;

    font-size: 84px;
    text-align: center;
}

p#icon {
    position: relative;
    top: -34%;
    float: right;
    left: 0;
    height: 100%;
    width: 50%;

    font-size: 30px;
}

fa-icon {
    position: relative;
    text-align: center;
    float: left;
    left: 25%;
    text-align: center;
    font-size: 60px;
}

div#forecast {
    position: relative;
    top: 0;
    right: 0;
    height: 25%;
    width: 50%;

    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

div#descriptions {
    position: relative;
    right: 0;
    height: 45%;
    width: 50%;

    font-size: 20px;
    font-weight: 100;
    font-style: italic;    
}

div#descriptions > div {
    position: relative;
    font-weight: 500;
}
