/* Current weather styling */
div#unavailable {
    position: absolute;

    top: 25%;
    height: 25%;
    width: 100%;

    font-size: 18px;
    text-align: center;
}

div#currently {
    position: absolute;

    top: 12%;
    height: 50%;
    width: 100%;
}

div#currently > div {
    position: absolute;
}

div#temperature {
    top: 0;
    height: 100%;
    width: 50%;

    font-size: 108px;
    text-align: center;
}

div#forecast {
    top: 0;
    right: 0;
    height: 25%;
    width: 50%;

    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

div#description {
    top: 25%;
    right: 0;
    height: 50%;
    width: 50%;

    font-size: 20px;
    font-weight: 100;
    font-style: italic;
}

/* Extra current weather styling */
div#extras {
    bottom: 0;
    right: 0;
    
    height: 25%;
    width: 100%;

    font-size: 18px;
    font-weight: 500px;
    z-index: 1;
}

div#high {
    position: absolute;

    right: 240px;

    color: #DB4437;
}

div#low {
    position: absolute;

    right: 160px;

    color: #4285F4;
}

div#humidity {
    position: absolute;

    right: 80px;

    color: #ffffff;
}

div#rain {
    position: absolute;

    right: 0;

    color: gray;
}

div#rain:after {
    content: '\0025';
}