/* Notifactions Panel Styling Sheet */
#pane {
    position: absolute;
    top: 53%;
    left: 0;
    height: 36%;
    width: 30%; 
}

#notifications {
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
        
    color: white;
    display: block;
    opacity: 80%;

}

div.banner {
    position: relative;
    left: 0;
    height: 25%;
    width: 96%;
    margin: 2% 1.5%;
    padding: 1%;

    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 3px gray;
    cursor: pointer;

    transition: left 1s;
    transition: background-color 1s;
}

div.unavaliable {
    position: relative;
    left: 0;
    height: 25%;
    width: 96%;
    margin: 2% 1.5%;
    padding: 1%;

    cursor: default;
}

div.banner#news {
    background-color: #DB4437;
}

div.banner#sports {
    background-color: #4285F4;
}

div.banner#tech {
    background-color: #0F9D58;
}

div.banner:active {
    box-shadow: 0 1px gray;
    transform: translateY(4px);
}

div.banner:hover {
    left: 10%;
    transition: left 1s;
}

div.provider {
    position:  relative;
    top: 5%;
    left: 2%;
    height: 25%;
    width: 50%;
    float: left;

    font-size: 16px;
    font-weight: 900;
}

div.timestamp {
    position: relative;
    top: 5%;
    right: 3%;
    height: 25%;
    width: 50%;
    padding: 0%;
    float: right;

    font-style: italic;
    font-size: 15px;
    font-weight: 200;
    text-align: right;
}

div.message, div.unavaliable > p {
    position: relative;
    top: 12%;
    left: 1.5%;
    float: left;

    font-size: 18px;
    font-weight: 200;
}

div.content {  
    top: 0%;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
}