<div class="panel">
    <div class="notifications">
        <div class="banner">
            <div class="provider">CNN</div>
            <div class="timestamp">12:45pm</div>
            <div class="message">
                <div class="header">Breaking news:</div> 
                <div class="content">Trump is an idiot. Actually that is not breaking. Sorry for the random notification.</div>
            </div>
        </div>
        <div class="banner">
            <div class="provider">CNN</div>
            <div class="timestamp">12:45pm</div>
            <div class="message">
                <div class="header">Breaking news:</div> 
                <div class="content">Trump is an idiot. Actually that is not breaking. Sorry for the random notification.</div>
            </div>
        </div>
        <div class="banner">
            <div class="provider">CNN</div>
            <div class="timestamp">12:45pm</div>
            <div class="message">
                <div class="header">Breaking news:</div> 
                <div class="content">Trump is an idiot. Actually that is not breaking. Sorry for the random notification.</div>
            </div>
        </div>
    </div>
</div>