.panel {
    top: 0;
    left: 0;
}

.welcome {
    position: absolute;

    top: 0;
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
        
    color: white;
    
    cursor: default;

    opacity: 80%;
}

div#greeting {
    position: absolute;

    top: 15px;
    left: 8px;
    height: 20%;
    width: 100%;

    font-size: 36px;
    font-weight: 300;
    text-align: left;
}

div#greeting > div {
    position: relative;

    top: 0;
    height: 100%;
    width: 100%;
    
    z-index: 1;
}

div#user {
    position: relative;

    top: 15%;
    height: 40%;
    width: 100%;

    font-size: 96px;
    font-weight: 800;
    text-transform: uppercase;
}

div#user > div {
    position: relative;

    bottom: 0;
    height: 100%;
    width: 100%;
}

div#quote {
    position: absolute;

    bottom: 20%;
    height: 25%;
    width: 100%;

    font-size: 18px;
    font-weight: 100;
    font-style: italic;
}

div#quote > div {
    position: relative;

    bottom: 0;
    height: 100%;
    width: 100%;
}