/* Welcome Panel styling */
.panel {
    position: absolute;
    top: 0;
    width: 25%;
    height: 25%;
}

.welcome {
    opacity: 75%;
    padding: 15px;
    margin: 0;

    color: white;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

div#greeting {
    position: absolute;
    height: 30%;
    margin-bottom: 10px;
    top: 30px;

    font-size: 32px;
    font-weight: 200;
}

div#user {
    position: relative;
    height: 50%;
    top: 10px;

    font-size: 64px;
    font-weight: 800;
}

div#quote {
    position: relative;
    height: 20%;
    top: -40px;

    font-size: 22px;
    font-weight: 100;
    font-style: italic;
}