<div class="panel">
    <div class="navigation">
        <ul>
            <li><a id="home" routerLink="/" routerLinkActive="active"><fa-icon [icon]="faHome"></fa-icon></a></li>
            <li><a id="entertainment" routerLink="/entertainment" routerLinkActive="active"><fa-icon [icon]="faTv"></fa-icon></a></li>
            <li><a id="music" routerLink="/music" routerLinkActive="active"><fa-icon [icon]="faMusic"></fa-icon></a></li>
            <li><a id="news" routerLink="/news" routerLinkActive="active"><fa-icon [icon]="faNewspaper"></fa-icon></a></li>
            <li><a id="calendar" routerLink="/calendar" routerLinkActive="active"><fa-icon [icon]="faCalendar"></fa-icon></a></li>
            <li><a id="settings" routerLink="/settings" routerLinkActive="active"><fa-icon [icon]="faTools"></fa-icon></a></li>
        </ul>
    </div>
</div>