/* Navigation Bar styling */
.panel {
    position: fixed;

    bottom: 0;
    left: 0;
    height: 10%;
    width: 100%;

    margin: 0;
    padding: 0;
}

.navigation {
    position: absolute;

    bottom: 0;
    height: 90%;
    width: 100%;

    color: white;
    text-align: center;
}

ul {
    height: 100%;
    width: 50%;

    margin: auto;
    padding: 0;

    list-style: none;
}

li {
    display: inline;
}

/* Off hover styling */
li a {
    position: absolute;

    bottom: 0;
    height: 70%;
    width: 3%;

    margin: 3px;;
    padding: 10px 10px;

    color: white;
    font-size: 40px;
    text-align: center;
    text-decoration: none;

    opacity: 25%;
    transition: 1s;
}

li a#home {
    left: 33%;
}

li a#entertainment {
    left: 38%;
}

li a#music {
    left: 43%;
}

li a#news {
    left: 48%;
}

li a#calendar {
    left: 53%;
}

li a#settings {
    left: 58%;
}

/* On hover styling */
li a:hover {
    bottom: 20%;

    font-size: 64px;

    opacity: 75%;
    transition: bottom 0.5s;
    transition: opacity 0.5s;
}

a#home:hover  {
    color: #ffffff;
}

a#entertainment:hover  {
    color: #4285F4;
}

a#music:hover  {
    color: #DB4437;
}

a#news:hover  {
    color: #F4B400;
}

a#calendar:hover  {
    color: #0F9D58;
}

a#settings:hover  {
    color: gray;
}