<div class="panel">
    <div class="navigation">
        <ul>
            <li><a id="home" href="http://localhost:4200"><fa-icon [icon]="faHome"></fa-icon></a></li>
            <li><a id="entertainment" href="http://localhost:4200"><fa-icon [icon]="faTv"></fa-icon></a></li>
            <li><a id="music" href="http://localhost:4200"><fa-icon [icon]="faMusic"></fa-icon></a></li>
            <li><a id="news" href="http://localhost:4200"><fa-icon [icon]="faNewspaper"></fa-icon></a></li>
            <li><a id="calendar" href="http://localhost:4200"><fa-icon [icon]="faCalendar"></fa-icon></a></li>
            <li><a id="notifcations" href="http://localhost:4200"><fa-icon [icon]="faEllipsisH"></fa-icon></a></li>
            <li><a id="settings" href="http://localhost:4200"><fa-icon [icon]="faTools"></fa-icon></a></li>
        </ul>
    </div>
</div>